# Equal-Weight S&P 500 Index Fund

**In this project we learn how to:**

    - get stock data using yfinance
    
    - create a new data frame and append data to it

    - format our data for Excel using XlsxWriter

    - export our data to Excel using XlsxWriter
    
    
## Introduction & Library Imports

This is a project following the video tutorial named "Algorhitmic Trading Using Python - Full Course"

You can access it here: https://www.youtube.com/watch?v=xfzGZB4HhEE&t=3272s

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import yfinance as yf
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv("SP 500 Stocks.csv")
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [3]:
stocks = stocks["Ticker"].tolist()
stocks

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABMD',
 'ABT',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'ALXN',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BAX',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BLL',
 'BMY',
 'BR',
 'BRK.B',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDNS',
 'CDW',
 'CE',
 'CERN',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COG',
 'COO',
 'COP',
 'COST',
 'COTY',
 'CPB',
 'CPRT',
 'CRM',
 'CSCO',
 'CSX',
 'CTAS',
 'CTL',
 'CTSH',
 'CTVA',
 'CTXS',
 'CVS',
 'CVX',
 'CXO',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISCA',
 'DISCK',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DOW',
 'DPZ',
 'DRE',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'EMN',
 'EMR',
 'EOG',
 'EQIX',
 'EQR',
 'ES',
 'ESS',
 'ETFC',
 'ETN',
 'ETR',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FB',
 'FBHS',
 'FCX',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FLIR',
 'FLS',
 'FLT',
 'FMC',
 'FOX',
 'FOXA',
 'FRC',
 'FRT',
 'FTI',
 'FTNT',
 'FTV',
 'GD',
 'GE',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HD',
 'HES',
 'HFC',
 'HIG',
 'HII',
 'HLT',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRB',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INFO',
 'INTC',
 'INTU',
 'IP',
 'IPG',
 'IPGP',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'KSS',
 'KSU',
 'L',
 'LB',
 'LDOS',
 'LEG',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOS',
 'MPC',
 'MRK',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTD',
 'MU',
 'MXIM',
 'MYL',
 'NBL',
 'NCLH',
 'NDAQ',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NLOK',
 'NLSN',
 'NOC',
 'NOV',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'O',
 'ODFL',
 'OKE',
 'OMC',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PAYC',
 'PAYX',
 'PBCT',
 'PCAR',
 'PEAK',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PPG',
 'PPL',
 'PRGO',
 'PRU',
 'PSA',
 'PSX',
 'PVH',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBUX',
 'SCHW',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SLG',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TDY',
 'TEL',
 'TFC',
 'TFX',
 'TGT',
 'TIF',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TROW',
 'TRV',
 'TSCO',
 'TSN',
 'TT',
 'TTWO',
 'TWTR',
 'TXN',
 'TXT',
 'TYL',
 'UA',
 'UAA',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VAR',
 'VFC',
 'VIAC',
 'VLO',
 'VMC',
 'VNO',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WLTW',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WU',
 'WY',
 'WYNN',
 'XEL',
 'XLNX',
 'XOM',
 'XRAY',
 'XRX',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [4]:
data = yf.download(stocks, period="1d")

[*********************100%***********************]  505 of 505 completed

46 Failed downloads:
['GPS', 'BF.B', 'FISV', 'SIVB']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (period=1d)')
['CXO', 'XLNX', 'NLOK', 'PBCT', 'NBL', 'VAR', 'ETFC', 'PKI', 'KSU', 'ABMD', 'DISCA', 'PXD', 'CTXS', 'MYL', 'ANTM', 'HFC', 'FBHS', 'DRE', 'FB', 'BRK.B', 'BLL', 'COG', 'WLTW', 'MXIM', 'DISH', 'CTL', 'NLSN', 'FLIR', 'ALXN', 'TIF', 'PEAK', 'INFO', 'DISCK', 'ATVI', 'WRK', 'CERN', 'FRC', 'TWTR', 'RE', 'ABC', 'VIAC', 'FLT']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")')

Since we have some data that failed to download, we should drop it out of our analysis.

In [5]:
data = data.dropna(axis=1)
price = data["Close"]
price = price.iloc[0].tolist()
price

[139.22999572753906,
 10.80780029296875,
 40.11000061035156,
 228.38999938964844,
 193.16000366210938,
 114.30999755859375,
 338.2200012207031,
 531.842529296875,
 226.35000610351562,
 61.29999923706055,
 277.1449890136719,
 267.69000244140625,
 85.91000366210938,
 102.7699966430664,
 18.989999771118164,
 109.72000122070312,
 74.01499938964844,
 9.364999771118164,
 197.17999267578125,
 281.6000061035156,
 100.36000061035156,
 89.79000091552734,
 252.7949981689453,
 41.14500045776367,
 192.7949981689453,
 142.13999938964844,
 194.16000366210938,
 10.954999923706055,
 155.9698944091797,
 171.36500549316406,
 335.43548583984375,
 462.3699951171875,
 234.94000244140625,
 191.66000366210938,
 386.9737854003906,
 319.57000732421875,
 349.7300109863281,
 83.45500183105469,
 25.325000762939453,
 292.0050048828125,
 66.02999877929688,
 71.41000366210938,
 122.1500015258789,
 137.16000366210938,
 232.97000122070312,
 170.5590057373047,
 215.3699951171875,
 148.77499389648438,
 269.743408203125,
 3042.695068359375,
 153.8800048828125,
 39.849998474121094,
 38.63999938964844,
 97.31500244140625,
 233.9199981689453,
 20.7549991607666,
 197.13999938964844,
 326.56500244140625,
 72.38500213623047,
 4079.0,
 36.1349983215332,
 936.9949951171875,
 49.80500030517578,
 210.36000061035156,
 84.36000061035156,
 34.005001068115234,
 81.41000366210938,
 62.38999938964844,
 32.22999954223633,
 111.63999938964844,
 80.5,
 370.8999938964844,
 291.79998779296875,
 209.35000610351562,
 121.3499984741211,
 116.0989990234375,
 18.864999771118164,
 275.7250061035156,
 225.08999633789062,
 127.33000183105469,
 82.90679931640625,
 41.185001373291016,
 103.7300033569336,
 106.19200134277344,
 331.54998779296875,
 357.4800109863281,
 135.71499633789062,
 103.72000122070312,
 165.24000549316406,
 60.505001068115234,
 40.665000915527344,
 215.7100067138672,
 58.32500076293945,
 312.4700012207031,
 70.37999725341797,
 75.54499816894531,
 28.69499969482422,
 152.2899932861328,
 109.7300033569336,
 108.83999633789062,
 916.6799926757812,
 9.244999885559082,
 50.73500061035156,
 51.84000015258789,
 262.43499755859375,
 52.26499938964844,
 34.11000061035156,
 204.3249969482422,
 76.06999969482422,
 57.904998779296875,
 57.970001220703125,
 147.3699951171875,
 58.10499954223633,
 46.88999938964844,
 84.06999969482422,
 407.489990234375,
 142.91000366210938,
 85.61000061035156,
 154.0850067138672,
 192.3350067138672,
 273.5400085449219,
 92.83999633789062,
 161.11300659179688,
 72.16000366210938,
 190.75999450683594,
 51.90510177612305,
 419.29998779296875,
 171.14999389648438,
 126.48500061035156,
 117.23500061035156,
 162.8699951171875,
 40.95000076293945,
 20.959999084472656,
 70.66999816894531,
 141.14999389648438,
 63.4900016784668,
 254.75,
 104.25499725341797,
 299.5799865722656,
 86.08000183105469,
 86.47000122070312,
 107.33000183105469,
 104.9800033569336,
 127.54000091552734,
 888.8300170898438,
 77.5,
 66.82499694824219,
 310.2749938964844,
 331.20001220703125,
 129.86000061035156,
 61.90999984741211,
 67.19000244140625,
 40.29499816894531,
 125.58300018310547,
 142.77999877929688,
 181.63999938964844,
 10.819999694824219,
 184.89999389648438,
 71.56999969482422,
 45.54999923706055,
 258.0,
 44.13999938964844,
 221.13999938964844,
 83.9000015258789,
 43.064998626708984,
 48.41999816894531,
 63.5,
 37.41999816894531,
 40.474998474121094,
 114.54000091552734,
 27.30500030517578,
 77.70999908447266,
 76.08000183105469,
 309.5950012207031,
 189.67999267578125,
 83.69000244140625,
 74.33499908447266,
 107.54000091552734,
 44.66299819946289,
 47.349998474121094,
 165.30999755859375,
 163.97000122070312,
 136.74000549316406,
 112.05000305175781,
 174.0500030517578,
 496.6050109863281,
 1042.5999755859375,
 29.69499969482422,
 71.51000213623047,
 14.65999984741211,
 6.659999847412109,
 405.17999267578125,
 390.2149963378906,
 135.4949951171875,
 117.08999633789062,
 269.6199951171875,
 223.9250030517578,
 81.41000366210938,
 203.82000732421875,
 18.764999389648438,
 34.974998474121094,
 64.43000030517578,
 31.635000228881836,
 71.80000305175781,
 18.559999465942383,
 196.4600067138672,
 313.54998779296875,
 98.5,
 219.5500946044922,
 159.9550018310547,
 505.82000732421875,
 209.4550018310547,
 102.7300033569336,
 130.51499938964844,
 64.97000122070312,
 22.325000762939453,
 643.7100219726562,
 48.29999923706055,
 31.18000030517578,
 70.51499938964844,
 241.625,
 97.52999877929688,
 118.28500366210938,
 489.8092956542969,
 513.010009765625,
 256.29998779296875,
 17.204999923706055,
 149.3000030517578,
 169.68089294433594,
 75.22000122070312,
 175.75,
 162.9600067138672,
 38.90599822998047,
 210.56910705566406,
 80.70500183105469,
 16.854999542236328,
 151.63999938964844,
 34.92499923706055,
 23.545000076293945,
 763.4600219726562,
 141.2899932861328,
 22.018800735473633,
 76.66000366210938,
 71.91500091552734,
 55.71500015258789,
 18.520000457763672,
 78.76000213623047,
 40.744998931884766,
 158.875,
 12.984999656677246,
 185.10000610351562,
 223.2449951171875,
 235.6925048828125,
 478.8550109863281,
 40.025001525878906,
 918.7150268554688,
 579.3699951171875,
 32.119998931884766,
 60.314998626708984,
 260.0799865722656,
 783.14501953125,
 29.1200008392334,
 42.5,
 64.6404037475586,
 94.08999633789062,
 104.62999725341797,
 496.2099914550781,
 163.7100067138672,
 242.07000732421875,
 82.25,
 297.9320068359375,
 77.04000091552734,
 510.7674865722656,
 483.8399963378906,
 74.78500366210938,
 89.4800033569336,
 81.52999877929688,
 36.6150016784668,
 158.30999755859375,
 83.5,
 256.7200012207031,
 540.385009765625,
 224.375,
 135.5449981689453,
 51.9900016784668,
 50.94499969482422,
 25.665000915527344,
 164.6699981689453,
 116.55999755859375,
 27.59000015258789,
 101.69499969482422,
 559.1699829101562,
 436.2850036621094,
 445.7149963378906,
 177.52999877929688,
 1392.1600341796875,
 93.4208984375,
 20.98889923095703,
 74.61499786376953,
 84.16500091552734,
 55.56999969482422,
 707.7100219726562,
 34.279998779296875,
 85.66500091552734,
 530.5750122070312,
 16.764999389648438,
 935.7056884765625,
 87.69999694824219,
 246.44979858398438,
 122.88999938964844,
 92.22000122070312,
 146.39199829101562,
 115.93000030517578,
 9533.462890625,
 7.150000095367432,
 27.889999389648438,
 26.540000915527344,
 62.375,
 195.02000427246094,
 94.44000244140625,
 102.41999816894531,
 165.05999755859375,
 1117.300048828125,
 96.30500030517578,
 52.275001525878906,
 170.85000610351562,
 134.64999389648438,
 99.26000213623047,
 88.16999816894531,
 173.3000030517578,
 29.274999618530273,
 85.7699966430664,
 174.50999450683594,
 258.3699951171875,
 619.3499755859375,
 141.94000244140625,
 213.22999572753906,
 127.00499725341797,
 121.0999984741211,
 185.31500244140625,
 95.81500244140625,
 90.66000366210938,
 127.32499694824219,
 32.845001220703125,
 26.979999542236328,
 121.11000061035156,
 363.8599853515625,
 130.36000061035156,
 97.08000183105469,
 295.7300109863281,
 78.75,
 166.4149932861328,
 101.8550033569336,
 174.63999938964844,
 72.55000305175781,
 1145.22998046875,
 22.875,
 67.5999984741211,
 124.91000366210938,
 186.52999877929688,
 245.85000610351562,
 261.45001220703125,
 50.68000030517578,
 558.4099731445312,
 150.99000549316406,
 202.97999572753906,
 119.7699966430664,
 239.5749969482422,
 95.08000183105469,
 64.9000015258789,
 35.18000030517578,
 379.614990234375,
 118.44750213623047,
 42.72999954223633,
 71.93000030517578,
 283.57000732421875,
 509.2300109863281,
 90.41000366210938,
 167.3699951171875,
 522.6699829101562,
 83.73999786376953,
 238.47500610351562,
 88.87999725341797,
 106.73999786376953,
 254.33999633789062,
 106.93000030517578,
 97.72000122070312,
 50.22999954223633,
 366.9700012207031,
 75.83000183105469,
 21.414400100708008,
 55.220001220703125,
 1411.010009765625,
 432.2699890136719,
 148.77000427246094,
 42.099998474121094,
 242.55999755859375,
 154.0500030517578,
 116.79000091552734,
 610.8900146484375,
 201.25999450683594,
 43.61000061035156,
 108.96769714355469,
 239.52999877929688,
 276.2300109863281,
 60.15999984741211,
 388.510009765625,
 148.9550018310547,
 204.46499633789062,
 87.19000244140625,
 582.2050170898438,
 7.269999980926514,
 7.704500198364258,
 51.7400016784668,
 46.2599983215332,
 240.14999389648438,
 388.4150085449219,
 575.3150024414062,
 57.97999954223633,
 243.56500244140625,
 128.63499450683594,
 793.4650268554688,
 45.849998474121094,
 288.2950134277344,
 18.399999618530273,
 134.3300018310547,
 251.4199981689453,
 39.06999969482422,
 266.2300109863281,
 183.2899932861328,
 464.3349914550781,
 63.86000061035156,
 44.097801208496094,
 179.41000366210938,
 337.7799987792969,
 8.749899864196777,
 66.93000030517578,
 95.27999877929688,
 127.58499908447266,
 55.16999816894531,
 101.86000061035156,
 206.16000366210938,
 45.89500045776367,
 80.31999969482422,
 57.46500015258789,
 308.385009765625,
 11.949999809265137,
 33.41999816894531,
 79.80500030517578,
 64.17500305175781,
 116.44000244140625,
 26.229999542236328,
 10.211999893188477,
 134.86000061035156,
 130.89280700683594,
 106.91000366210938,
 361.6099853515625,
 47.47999954223633,
 192.8000030517578]

We're left with 459 stocks, which will be good enough for this project.

In [6]:
symbol = data["Close"].T
symbol = symbol.index
symbol

Index(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM',
       ...
       'XEL', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION',
       'ZTS'],
      dtype='object', name='Ticker', length=459)

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price to a pandas DataFrame.

In [7]:
my_columns = ["Number Of Shares To Buy"]
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe.insert(loc=0, column="Ticker", value=symbol)
final_dataframe.insert(loc=1, column="Price", value=price)
final_dataframe

    Ticker       Price Number Of Shares To Buy
0        A  139.229996                     NaN
1      AAL   10.807800                     NaN
2      AAP   40.110001                     NaN
3     AAPL  228.389999                     NaN
4     ABBV  193.160004                     NaN
..     ...         ...                     ...
454    YUM  130.892807                     NaN
455    ZBH  106.910004                     NaN
456   ZBRA  361.609985                     NaN
457   ZION   47.480000                     NaN
458    ZTS  192.800003                     NaN

[459 rows x 3 columns]

Note: this could've been done by just extracting "Ticker" and "Close" from our data frame and adding a column named "Number of Shares To Buy". This however, is an exercise to get more comfortable with data wrangling.

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [8]:
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number!")
    portfolio_size = input("Enter the value of your portfolio as a number:")
    val = float(portfolio_size)

In [9]:
position_size = val/len(final_dataframe.index)
for i in range(len(final_dataframe.index)):
    num_of_shares = position_size / final_dataframe["Price"].iloc[i]
    final_dataframe.at[i, "Number Of Shares To Buy"] = num_of_shares
final_dataframe

    Ticker       Price Number Of Shares To Buy
0        A  139.229996               15.647844
1      AAL   10.807800              201.581189
2      AAP   40.110001               54.316859
3     AAPL  228.389999                9.539162
4     ABBV  193.160004               11.278987
..     ...         ...                     ...
454    YUM  130.892807                16.64453
455    ZBH  106.910004               20.378348
456   ZBRA  361.609985                6.024859
457   ZION   47.480000                45.88562
458    ZTS  192.800003               11.300048

[459 rows x 3 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [10]:
writer = pd.ExcelWriter("recommended trades.xlsx", engine="xlsxwriter")
final_dataframe.to_excel(writer, "Recommended Trades", index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [11]:
background_color = "#0a0a23"
font_color = "ffffff"

string_format = writer.book.add_format(
    {
        "font_color": font_color,
        "bg_color": background_color,
        "border": 1
    }
)

dollar_format = writer.book.add_format(
    {
        "num_format": "$0.00",
        "font_color": font_color,
        "bg_color": background_color,
        "border": 1
    }
)

integer_format = writer.book.add_format(
    {
        "num_format": "0.00",
        "font_color": font_color,
        "bg_color": background_color,
        "border": 1
    }
)

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [12]:
#writer.sheets["Recommended Trades"].set_column("A:A", 18, string_format)
#writer.sheets["Recommended Trades"].set_column("B:B", 18, string_format)
#writer.sheets["Recommended Trades"].set_column("C:C", 18, string_format)

#writer.sheets["Recommended Trades"].write("A1", "Ticker", string_format)
#writer.sheets["Recommended Trades"].write("B1", "Price", string_format)
#writer.sheets["Recommended Trades"].write("C1", "Number Of Shares To Buy", string_format)

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [13]:
column_formats = {
    "A": ["Ticker", string_format],
    "B": ["Stock Price", dollar_format],
    "C": ["Number Of Shares To Buy", integer_format]
}

for column in column_formats.keys():
    writer.sheets["Recommended Trades"].set_column(f"{column}:{column}", 18, column_formats[column][1])
    writer.sheets["Recommended Trades"].write(f"{column}1", column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output

Saving our Excel file is very easy:

In [14]:
writer.close()